.course-select-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5rem;
}

/* 배경 동영상 스타일 */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 화면 크기에 맞게 자르기 */
    z-index: -1; /* 콘텐츠 뒤에 위치 */
}

@keyframes slide {
    from {
        transform: scale(0.5);
        gap: 0;
    }

    to {
        transform: scale(1);
        gap: 5rem;
    }
}

.course-select-container  .course-title {
    font-size: 30pt;
    font-weight: bold;

    animation: slide .5s ease-in-out;
}

.course-select-container  .course-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    width: 70%;

    animation: slide .5s ease-in-out;
}

.course-select-container  .course-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;

    gap: 1rem;

    width: 100%;

    cursor: pointer;

    font-size: 1.1rem;

    padding: 2.5rem;

    border-radius: 25px;

    box-shadow: 0 5px 10px #a5a6a5;
    transition: 0.25s;
}

.course-select-container  .course-item:hover {
    box-shadow: 0 20px 10px #a5a6a5;
    transform: translateY(-15px);
}

.course-select-container  .course-item:active {
    box-shadow: 0 5px 10px #a5a6a5;
    transform: translateY(10px);
}

.button-title {
    font-family: 'Nanum Gothic';
}

